var config = {
    appid   : "Amazon Alexa Application Id",
    host    : "external ip to node server",
    port    : "external port to node server",
    apiKey  : "random bae64 string"
};

module.exports = config;